
/*Style for the button and form it is in*/
.Listing-Button {
    float: left;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 20px;
}
.custom-btn{
    width:300px;
    height: 600px;
    border-radius:15px;
    font-family:Arial;

}


/*Landing page body stlye*/
.landing-body {
    background-image: url('../images/paul-hanaoka-5za2ss955yg-unsplash.jpg');
    background-size: cover; /* scale to cover screen */
    background-repeat: no-repeat;
}

