
<body class="landing-body">

    <h1>Landing page</h1>


    <!--Listing Button To navgate to the next screen-->
    <div class="Listing-Button">
        <form asp-controller="Home" asp-action="Listings" method="post">
            <button class="custom-btn" STYLE="text-decoration: underline; font-size: 50px">
                Check Out Our Units
            </button>

        </form>

        <form asp-controller="Home" asp-action="Listings" method="post">
            <button class="custom-btn" STYLE="text-decoration: underline; font-size: 50px">
                Sign In
            </button>

        </form>
    </div>


</body>



